<ion-view view-title="Película">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-thumbnail-left">
        <img src="http://image.tmdb.org/t/p/w500{{pelicula.poster_path}}">
        <h2>{{pelicula.title}}</h2>
        <p>Género: {{generos}}</p>
        <p>Estreno: {{pelicula.release_date|date:"dd/MM/yyyy"}}</p>
      </div>

      <div class="item item-body">
        <p class="text-justify">{{pelicula.overview}}</p>
      </div>

      <ion-list>

        <ion-item class="item item-avatar item-icon-right" ng-repeat="actor in actores|orderBy:'order'" type="item-text-wrap" href="#/tab/fichaactor/{{actor.id}}">
          <img src="http://image.tmdb.org/t/p/w500{{actor.profile_path}}">
          <h2>{{actor.name}}</h2>
          <p>{{actor.character}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>

      </ion-list>

    </div>
  </ion-content>
</ion-view>
