<ion-view view-title="Película">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-thumbnail-left">
        <img src="http://image.tmdb.org/t/p/w500{{pelicula.poster_path}}">
        <h2>{{pelicula.title}}</h2>
        <p>{{generos}}</p>
      </div>

      <div class="item item-body">
        <p class="text-justify">{{pelicula.overview}}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-plus-circled"></i>
          Guardar
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
