<ion-view view-title="Películas">
  <ion-content class="padding">

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar por título" ng-model="buscar">
      </label>
      <button class="button button-small button-positive" ng-click=buscarPeli(buscar)>
        Buscar
      </button>
    </div>

    <ion-list>

      <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="peli in pelis|orderBy:'-release_date'" type="item-text-wrap" href="#/tab/fichapeli/{{peli.id}}">

        <img src="http://image.tmdb.org/t/p/w500{{peli.poster_path}}">
        <h2>{{peli.title}}</h2>
        <p>Fecha de estreno: {{peli.release_date|date:"dd/MM/yyyy"}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
