<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Pelis Cartelera Tab -->
  <ion-tab title="Cartelera" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/cartelera">
    <ion-nav-view name="tab-cartelera"></ion-nav-view>
  </ion-tab>

  <!-- Buscar Pelis Tab -->
  <ion-tab title="Películas" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/buspelis">
    <ion-nav-view name="tab-buspelis"></ion-nav-view>
  </ion-tab>

  <!-- Series Tab -->
  <ion-tab title="Series TV" icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/tab/series">
    <ion-nav-view name="tab-series"></ion-nav-view>
  </ion-tab>

</ion-tabs>
